<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-align h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Welcome back<br>
                                    <font color="blue">to Upower</font><br>
                                    <font size="3pt">Sign in to your account below. </font>
                                </p>

                                <form class="mx-1 mx-md-4 mb-5">


                                    <div class="d-flex flex-row align-items-center mb-4 mt-4 ">
                                        <div class="form-outline flex-fill mb-0 mt-4">
                                            <input type="email" placeholder="Email" id="form3Example3c"
                                                class="form-control" />
                                        </div>
                                    </div>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" placeholder="Password" id="form3Example4c"
                                                class="form-control" />

                                        </div>
                                    </div>

                                    <p class="fw-bold small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot
                                            password?</a></p>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <button type="button" style="background-color: blue;"
                                            class="btn btn-primary btn-lg">Sign In</button>
                                    </div>


                                    <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>

                                </form>

                            </div>

                            <div class="border-radius col-lg-4 col-xl-7 order-2 order-lg-1 col-7">
                                <div class="align-items-center flex-fill mt-4 mb-8 mt-8 " style="text-align: center;">
                                    <img src="assets\upowa.png ">
                                </div>
                                <div class="row mt-5 mb-8 mt-8" style="text-align: center;">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                        class="img-fluid" alt="Sample image" >
                                </div>
                            </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>